losange {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 35px solid green;
  position: relative;
  top: -25px;
}
#losange:after {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  left: -50px;
  top: 35px;
  border: 25px solid transparent;
  border-top: 35px solid green;
}
#losange-90{
    width  : 0;
    height : 0;
    position : relative;
    top : -25px;
    border : 25px solid transparent;
    border-bottom-color : green;
  }
  #losange-90:after {
    width  : 0;
    height : 0;
    content : '';
    position : absolute;
    left : -25px;
    top  : 25px;
    border : 25px solid transparent;
    border-top-color : green; 
  }
  #parallelogramme {
    width  : 100px;
    height : 0;
    border-top  : 50px solid green;
    border-left : 20px solid transparent;
    position : relative;
  }
  #parallelogramme:after {
    width  : 0;
    height : 0;
    content: '';
    border-bottom : 50px solid green;
    border-right  : 20px solid transparent;
    border-left   : 20px solid transparent;
    position : absolute;
    top  : -50px;
    right: -20px;
  }
  #trapeze{
    border-bottom: 50px solid green;
    border-left  : 25px solid transparent; 
    border-right : 25px solid transparent;
    height : 0;
    width  : 50px;
  }
  .triangle{
    border-style : solid;
    border-color : darkslateblue pink green red;
    border-width : 20px 40px 20px  20px ; 
    background   : #ccc;  
    width  : 20px;
    height : 20px;
  }
  
  /* Suppression de la bordure inutile  */
  .triangle{
    border-style : solid;
    border-color : darkslateblue pink green red;
    border-width : 0 40px 20px  20px ;  /* top à 0 */
    background   : #ccc;  
    width  : 20px;
    height : 20px;
  }
  
  /* modification des couleurs */
  .triangle{
    border-style : solid;
    border-color : transparent transparent green transparent; /* transparence */
    border-width : 0 40px 20px  20px; 
    background   : none; /* suppression de l'arrière plan */
    width  : 20px;
    height : 20px;
  }
  
  /* Suppression de la taille de l'élément */
  .triangle{
    border-style : solid;
    border-color : transparent transparent green transparent;
    border-width : 0 40px 20px  20px; 
    background   : none;  
    width  : 0; /* 0 */
    height : 0; /* 0 */
  }
  
  
