* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* ///212121;212529*/
  background-color: #212529;
  color: #fff;
  font-family: "Roboto";
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/**comShop**/
div.navigation {
  display: flex;
  justify-content: space-between;
}
.list-inline-item .btn-outline-info {
  color: #fff;
  border: 1px solid #5a6060;
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: 500;
}
.list-inline-item .btn-outline-info:hover {
  color: #fff;
  border-color: #fff;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
div.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fa,
svg {
  color: #f4c10f !important;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: all 5ms ease-out;
}
a {
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 900;
  margin-left: 10px;
  font-size: 2rem;
  border-bottom: #f4c10f;
}

.active {
  background-color: #fff;
  color: #212529 !important;
  padding: 5px 5px;
  border-radius: 5px;
}

.fa:hover {
  /*color: #fff;*/
  cursor: pointer;
}
.play-circle {
  cursor: pointer;
  position: relative;
  top: -20vh;
  transform: translateY(-50%);
  background-color: transparent;
}
.movietitle {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin-top: -5%;
}
tr.datacompanie {
  border-bottom: #fff solid 1px;
}
input#inputrecherch {
  border: solid #fff;
  border-radius: 25px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bolder;
  outline: none;
  color: #212529;
  background-color: #f3f3f3;
  /* background-image: url("./image/load1.jpeg"); */

  background-repeat: no-repeat;
  transition: all 4ms linear;
}
/* input#inputrecherch:active {

} */
img#input {
  position: fixed;
  width: 49px;
  height: 49px;
  background: transparent;
  margin-left: -60px;
  animation: 1s sprin infinite;
  border-radius: 50%;
  /* animation: transform infinite ease-in; */
}
@keyframes sprin {
  to {
    transform: rotate(360deg);
  }
}
/* @keyframes tourn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
